.megaContainer {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: -100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	opacity: 0;
	
	transition:350ms ease-out;
	

	.content {
		width: 50%;
		min-height:70px ;

		// background-color: rgba(0, 0, 0, 1);
		background-color:transparent;
		box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(17px);
		border-radius: 20px 20px 20px 20px;
		padding: 5px;
		z-index: 5;
		// color: rgba(0, 0, 0, 0.8);
		color: rgba(256, 256, 256, 0.7);
		font-size: 17px;
		
		font-weight: bold;
		display: flex;
		flex-direction: column;

		justify-content: flex-start;
		align-items: center;



		.timer{

			height: 5px;
			background: linear-gradient(90deg, rgba(51,191,38,0.8491771708683473) 0%, rgba(30,105,25,0.8491771708683473) 96%);
			margin: 5px;
			border-radius: 13px;
		}

		.notificContent{
		font-weight: bold;
		display: flex;
		flex-direction: row;
		gap: 5px;
		justify-content: center;
		align-items: center;
		font-size: 16px;


		svg {
			color:rgb(80, 180, 107);
			filter: drop-shadow(1px 1px 3px #222);
		}


		}
	}
}


.notificAnim{
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	opacity: 1;
	
	transition:200ms ease-out;
	animation: notificanim3 250ms linear;

			@keyframes notificanim3 {
			0%{bottom: 20px;left:-50px;}
			50%{bottom: 60px;}
			100%{bottom: 20px;left:0px;}
		}

	

	.content {
		width: 50%;
		min-height:70px ;

		// background-color: rgba(0, 0, 0, 1);
		background-color:transparent;
		box-shadow:inset 2px 2px 5px rgba(256, 256, 256, 0.2);
		backdrop-filter: blur(17px);
		border-radius: 20px 20px 20px 20px;
		padding: 5px;
		z-index: 5;
		// color: rgba(0, 0, 0, 0.8);
		color: rgba(256, 256, 256, 0.7);
		font-size: 17px;
		
		font-weight: bold;
		display: flex;
		flex-direction: column;

		justify-content: flex-start;
		align-items: center;





		.timer{

			height: 5px;
			background: linear-gradient(90deg, rgba(51,191,38,0.9491771708683473) 0%, rgba(30,167,15,0.9491771708683473) 96%);
			margin: 5px;
			border-radius: 9px;
		}

		.notificContent{
		font-weight: bold;
		display: flex;
		flex-direction: row;
		gap: 5px;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		color: rgba(256, 256, 256, 0.7);



		svg {
			color:rgb(80, 180, 107);
			filter: drop-shadow(1px 1px 3px #222);
		}

		
		}
	}
}


@media screen and (max-width:768px) {
	.megaContainer{
		.content{
			width: 100%;
			gap: 5px;
		.notificContent{
			gap: 15px;
			font-size: 13px;
			font-weight: bold;
		}
		}
	}

	.notificAnim{
		.content{
				width: 100%;
				gap: 5px;
		.notificContent{
			gap: 15px;
			font-size: 13px;
			font-weight: bold;
		}
		}
	}
}