.megaContainer {
	width: 100%;
	min-height: auto;
	display:flex;
	flex-direction:column;
	gap:10px;
	opacity: 0;
	transform: translateY(-100px);
	transition: 500ms linear;
	user-select:none;

	.content1{
		display:flex;
		flex-direction:row;
		padding:15px;

		button{
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		}

	}

	.postMegaContent {
			width: 100%;
			min-height: 100px;
			border-top: 2px solid rgba(256, 256, 256, 0.9);
			// border-bottom: 1px solid rgba(256, 256, 256, 0.9);
			padding: 25px ;
			display:flex;
			flex-direction:column;
			gap:15px;

			.postMiniContent1{
				width: 70%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap:10px;


				.postBlock1{

					img{
						width: 50px;
						height: 50px;
						border: 2px solid rgba(256, 256, 256, 0.9);
						border-radius: 50%;
						user-select: none;
					}
				}

				.postBlock2{
					font-weight: bold;
					color: rgba(256, 256, 256, 1);
				}

				.postBlock3{
					opacity: 0.7;
					color: #999;
				}
			}

			.postMiniContent2{
				
				
				width: 70%;
				min-height: 50px;
				// border: 2px solid rgba(256, 256, 256, 0.9) ;
				// background-color: rgba(256, 256, 256, 0.1);
				border-radius: 9px;
				padding: 15px;
				color: rgba(256, 256, 256, 1);
				word-break: break-word;
				display: flex;
				flex-direction: column;
				gap: 10px;

				.item1{
					width:100%;
					
					img{
						
						max-width: 100%;
						
						max-height: 400px;
						border-radius: 7px;
						border: 2px solid #999;
					}
				}

				.item2{
					min-width: 50%;
					padding: 15px;
					border: 2px solid rgba(256, 256, 256, 0.9) ;
					outline: none;
				background-color: rgba(256, 256, 256, 0.1);
				border-radius: 9px;
				color: whitesmoke;
				font-weight: bold;
				



				}

				.item3{
					margin-top: 30px;
					color: whitesmoke;
			font-weight: bold;
			font-size: 17px;
			display: flex;
			align-items: center;
			gap: 25px;
			padding: 10px;
			border-bottom: 2px solid rgba(256, 256, 256, 0.5);


			svg{
				font-size: 25px;
				cursor: pointer;
			}
		}

			}
		}

		.content3{
			align-self: flex-end;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		gap:5px;
		align-items: center;
		padding: 25px;
		flex: 1;

		button{
					padding: 5px;
            background:transparent ;
            border: 2px solid whitesmoke;
            border-radius: 7px;
            display: flex;
            flex-direction: row;
            // gap: 5px;
            // justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            color: whitesmoke;
            transition: 250ms linear;			
		}
	}


}

.animBlock{
	opacity: 1;
	transform: translateY(0px);
	transition: 500ms linear;
}


@media screen and (max-width:1024px) {
	.megaContainer{

		.postMegaContent {

			padding:20px 0 0 0;

			.postMiniContent1{
				width: 100%;
				padding: 0px 10px 0px 10px;
			}

			.postMiniContent2{
				width: 100%;
			}

			.postMiniContent3{
				width: 100%;
			}
		}
	}
}