.megaContainer{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap:15px ;
	// padding: 15px;
	font-family: "Josefin Sans","Source Code Pro","Noto Sans Armenian", sans-serif;
	opacity: 0;
	transform: translateY(-100px);
	transition: 500ms linear;

	.megaBlock{
		width: 100%;
		// position: relative;
		// text-align: end;
		// right:10px;
		// top: 0;
		display: flex;
		justify-content: space-between;


		button{
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		}

		span{
			display: flex;
			flex-direction: row;
			gap: 10px;

		svg{
			font-size: 25px;
			cursor: pointer;
			color:#999;
			transition: 250ms linear;
		}

		svg:hover{
			color:whitesmoke;
			transition: 250ms linear;

		}
	}
	}

	.content1{
		width: 100%;
		min-height: 300px;
		// border-bottom: 3px solid #888;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items:center;
		flex-wrap:wrap;
		padding:15px;
		gap:15px;
		// background: linear-gradient(0deg, rgba(209,209,209,0.3) 15%, rgba(162,162,162,0.3) 84%);
		// background-size: 100% 20%;
		// background-blend-mode: darken;
		// background-repeat: no-repeat;
		// background-color: rgba(256, 256, 256, 0.1);
		// background-color: rgba(0, 0, 0, 0.555);
		// background-origin: border-box;

		


		.Block1{
			width: 100%;
			flex: 1 0 250px;
			display:flex;
			flex-direction:column;
			justify-content: center;
			align-items:center;
			gap:15px;
			

				.miniBlock {
				min-width: 250px;
				max-width: 100%;
				color: rgba(256, 256, 256, 0.7);;
				font-weight: bold;
				font-size: 14px;
				
				display: flex;
				justify-content: center;
				padding: 12px;
				border: 2px solid #999;
				border-radius: 25px 15px 25px 15px;
				word-break: break-word;
			}		

		.miniBlock1{	
				border-radius:50%;
				display: flex;
				flex-direction: row;

			img{
					
				width: 200px;
				
				height: 200px;
				
				border-radius:50%;
				border: 2px solid #999;

			}

			.activeStory{
				border:3px solid #47D66E;
				cursor: pointer;
			}

			span{
				position: absolute;
				align-self: flex-end;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				margin-left:145px;

				svg{
					color: rgba(256, 256, 256, 0.8);
					font-size: 27px;
					cursor: pointer;
				}
			}

		}

		.miniBlock2{
			font-weight: bold;
			font-size: 23px;
			padding: 5px;
			color: whitesmoke;
			border-bottom: 2px solid #999;

			span{
				display: flex;
				flex-direction: row;
				gap: 5px;
				align-items: center;
			}
		}
		}

		.Block2{
			width: 100%;
			height: auto;
			flex: 1 0 250px;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			// align-items: center;
			gap: 35px;
			color:whitesmoke;


			.miniBlock4{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 5px;


				.btn1{
					padding: 10px;
					text-decoration: none;
					color: whitesmoke;
					font-weight: bold;
					// border: 2px solid #999;
					border-radius: 5px 10px 15px 10px;
					// background-color: rgba(256, 256, 256, 0.5);
					display: flex;
					flex-direction: column;
					gap: 5px;
					justify-content: center;
					align-items: center;

					.item1{
						color: rgba(256, 256, 256, 0.7);
						font-size: 15px;
					}
				}

				.btn2{
					padding: 10px;
					text-decoration: none;
					color: whitesmoke;
					font-weight: bold;
					// border: 2px solid #999;
					border-radius: 5px 10px 15px 10px;
					// background-color: rgba(256, 256, 256, 0.5);
					display: flex;
					flex-direction: column;
					gap: 5px;
					justify-content: center;
					align-items: center;

					.item1{
						color: rgba(256, 256, 256, 0.7);
						font-size: 15px;
					}
				}
			}




				.miniBlock5{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				gap: 10px;
				

				svg{
					color: rgba(256, 256, 256, 0.9);
				}

				a{
					color: rgba(256, 256, 256, 0.8);
					font-weight: bold;
					font-size: 14px;
				}

			}


				.miniBlock1{
				width: 100%;
				display: flex;
				flex-direction: row;
				gap: 5px;
				justify-content: space-between;
				align-items: center;
				color: rgba(256, 256, 256, 0.5);
				font-weight: bold;
				border-bottom: 2px solid rgba(60, 60, 60, 0.2);
				border-top: 2px solid rgba(60, 60, 60, 0.2);
				padding: 15px;


				
				.infoContent{
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					gap: 10px;
					// border-bottom: 2px solid rgba(60, 60, 60, 0.2);
					

					span{
						align-self: flex-start;
					}

					.item{
						font-size: 13px;
						color: rgba(256,256,256,0.3);

					}
				}

				.statusContent{
					align-self: flex-start;

					.onlineStatus{
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: no-wrap;
					gap: 10px;
					align-items: center;
					justify-content: center;
					// border-bottom: 2px solid rgba(60, 60, 60, 0.2);
					// padding: 5px;
					font-size: 13px;
					font-weight: bold;
					color: rgba(256, 256, 256, 0.5);

					svg{
						font-size: 10px;
						color: limegreen;
					}
				}

				.offlineStatus {
						width: 100%;
					display: flex;
					flex-direction: row;
					gap: 10px;
					align-items: center;
					justify-content: center;
					border-bottom: 2px solid rgba(60, 60, 60, 0.2);
					padding: 5px;
					color: #555;

					svg{
						font-size: 10px;
						color: #555;
					}
				}

				}


			}


		}

	}

	.content2{
		width: 100%;
		min-height: 150px;
		padding: 10px;
		border-radius: 15px;
		// background-color: rgba(60, 60, 60, 0.3);
		display: flex;
		flex-direction: column;
		gap: 7px;
		color: whitesmoke;
		border-top:2px solid #999;
		border-bottom:2px solid #999;

		.miniBlock3{
			padding: 5px;
			// border-bottom: 2px solid whitesmoke;
			color: rgba(256, 256, 256, 0.7);
			font-weight: bold;
			font-size: 15px;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 5px;
			

				.taggedUserContainer{
				margin-left: 25px;
				// padding: 2px 15px 1px 15px;
				// border:1px solid rgba(256, 256, 256, 0.3);
				border-radius: 3px;
				display: flex;
				justify-content: center;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				.item1{
					display: flex;
					flex-direction: row;
					gap: 3px;
					align-items: center;
					border: 1px solid rgba(256, 256, 256, 0.2);
					padding: 0px 10px 0px 10px;
					border-radius: 2px;

									svg{
					font-size: 17px;
					color:rgba(256, 256, 256, 0.7) ;
				}
				}

				.item2{
					cursor: pointer;
					display: flex;
					align-items: center;
				}


			}

			.musicCont{
				margin-left: 25px;
				// padding: 2px 15px 1px 15px;
				// border:1px solid rgba(256, 256, 256, 0.3);
				border-radius: 3px;
				display: flex;
				justify-content: center;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;
				font-size: 11px;

				.item1{
					display: flex;
					flex-direction: row;
					gap: 3px;
					align-items: center;
					// border: 1px solid rgba(256, 256, 256, 0.2);
					padding: 0px 10px 0px 10px;
					border-radius: 2px;

									svg{
					font-size: 14px;
					color:rgba(256, 256, 256, 0.7) ;
				}
				}

				.item2{
					cursor: pointer;
					display: flex;
					align-items: center;

					svg{
						font-size: 14px;
					}
				}


			}
		}

		.fwPost{
			width: 100%;
			min-height: 100px;
			// margin: 15px;
			padding: 15px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			background-color: rgba(256, 256, 256, 0.1);
			opacity: 0.7;


			.item1{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				color: whitesmoke;
				font-weight: bold;
				opacity: 0.5;

				svg{
					cursor: pointer;
					font-size: 19px;
				}
			}


			.item2{

				img{
					max-width: 100%;
					max-height: 200px;
					border-radius: 7px;
					border: 2px solid #999;;
				}
			}

			.item3{
				width: 50%;
					padding: 10px;
					border: 2px solid rgba(256, 256, 256, 0.9) ;
				background-color: rgba(256, 256, 256, 0.1);
				border-radius: 9px;
			}
		}

		.miniBlock4{
			width: 100%;

			textarea {
				width: 100%;
				height: 100px;
				resize: none;
				border-radius: 10px;
				background-color: rgba(0, 0, 0, 0.3);
				padding: 5px;
				color: whitesmoke;
				border: 2px solid #999;
				outline: none;
				transition: 250ms linear;
			}

			textarea:focus{
				border: 2px solid whitesmoke;
				transition: 250ms linear;
			}
		}

		.miniBlock5{
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding:10px;
			user-select: none;


			.block1{
				display:flex;
				flex-direction:column;
				gap:15px;

				.item1{
					width: 150px;
					height: 200px;
					border-radius: 7px;
					border: 2px solid #999;
					background-size: 100% 100%;
					background-blend-mode: darken;
					background-color: rgba(256, 256, 256, 0.5);
					padding: 3px;

					span{
						
						width: 100%;
						display:flex;
						justify-content:flex-end;


						svg{
							font-weight: bold;
							color: whitesmoke;
							cursor: pointer;
							font-size: 23px;
							transition: 250ms linear;
						}

						svg:hover{
							color: #999;
							transform: scale(1.05);
							transition: 250ms linear;
						}
					}

				}

			.item2{
				color:whitesmoke;
				display: flex;
				flex-direction: row;
				gap: 5px;

				svg{
					color: #888;
					font-size: 23px;
					transition: 250ms linear;
					cursor: pointer;
				}

				svg:hover{
					color:whitesmoke;
				transition: 250ms linear;
				}

			}




		}

			.block2{
				display: flex;
				flex-direction: row;
				gap: 7px;
				// position: relative;

			.btn1{
				border: none;
				outline: none;
				background-color: transparent;
				padding: 5px;
				cursor: pointer;
				

				svg{
					color: #999;
					transition: 250ms linear;
				}

				.btn1:hover{
					color: whitesmoke;
				
					transition: 250ms linear;				
			}
				
			


		}

				.btn2{
					padding: 5px 20px 5px 20px;
					height: 30px;
            background:transparent ;
            border: 2px solid rgba(256, 256, 256, 0.7);
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            color: rgba(256, 256, 256, 0.7);
            transition: 250ms linear;
            font-family: monospace;

            svg{
            	color: rgba(256, 256, 256, 0.7);
            	transition: 250ms linear;

            }
				}

				.btn2:hover{
					background-color: whitesmoke;
					color: #222;
					transition: 250ms linear;

					svg{
						color: #222;
						transition: 250ms linear;

					}
				}

				.EmojiContainer{
					position: absolute;
					
					// left: 10px;
					top: 45px;
					right: 0;
					z-index: 55;

					.emojiContent{
						// background-color: rgba(60, 60, 60, 1);
						width: 100%;
						max-height: 400px;
						border: none;
					}
				}
			}
		}

	.usersContainer{
		width: 100%;
		min-height: 200px;
		max-height: 350px;
		position: absolute;
		margin-top: 198px;
		left: 0;
		z-index:99;
		background-color: rgba(60, 60, 60, 0.8);
		backdrop-filter: blur(5px);
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 10px;
		opacity: 0;
		transform: translateY(150px);
		transition: 200ms linear;
		visibility: hidden;


		.userContent1{
			font-weight: bold;
			font-size: 15px;
			color: rgba(256, 256, 256, 0.7);

		}

		.userContent2{
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;
			max-height: 250px;
			overflow-y: scroll;


			.userMiniContent1{

				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				svg{
					color:rgba(256, 256, 256, 0.6);
					font-size: 20px;
				}

				input{
				flex: 1;
				max-width: 70%;
				border-radius: 7px;
				border: 2px solid rgba(256, 256, 256, 0.4);
				background-color: transparent;
				outline: none;
				padding: 5px;
				color: whitesmoke;
				}
			}

			.userMiniContent2{
				width: 80%;
				display: flex;
				flex-direction: row;
				gap: 10px;
				// justify-content: flex-start;
				align-items: center;
				border: 1px solid rgba(256, 256, 256, 0.1);
				border-radius: 4px;
				padding: 5px;


				.userItem1{
					width: 50px;
					height: 50px;
					border-radius: 50%;
					border: 2px solid rgba(256, 256, 256, 0.3);
				}

				.userItem2{
					font-weight: bold;
					font-size: 13px;
					color: rgba(256, 256, 256, 0.8);
				}

				.userItem3{
					width: 100%;
					display: flex;
					justify-content: flex-end;
					padding: 10px;
					cursor: pointer;

					svg{

					font-size: 21px;
					color: rgba(256, 256, 256, 0.8);
					}					
				}
			}
		}
	}

	.musicContainer{
		width: 100%;
		min-height: 200px;
		max-height: 350px;
		position: absolute;
		margin-top: 198px;
		left: 0;
		z-index:99;
		background-color: rgba(60, 60, 60, 0.8);
		backdrop-filter: blur(5px);
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 10px;
		opacity: 0;
		transform: translateY(150px);
		transition: 200ms linear;
		visibility: hidden;


				.musicContent1{
			font-weight: bold;
			font-size: 15px;
			color: rgba(256, 256, 256, 0.7);

		}

		.musicContent2{
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;
			max-height: 250px;
			overflow-y: scroll;


			.musicMiniContent1{

				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				svg{
					color:rgba(256, 256, 256, 0.6);
					font-size: 20px;
				}

				input{
				flex: 1;
				max-width: 70%;
				border-radius: 7px;
				border: 2px solid rgba(256, 256, 256, 0.4);
				background-color: transparent;
				outline: none;
				padding: 5px;
				color: whitesmoke;
				}
			}

			.musicMiniContent2{
				width: 80%;
				display: flex;
				flex-direction: row;
				gap: 10px;
				// justify-content: flex-start;
				align-items: center;
				border: 1px solid rgba(256, 256, 256, 0.1);
				border-radius: 4px;
				padding: 5px;


				.musicItem1{
					min-width: 50px;
					min-height: 50px;
					max-width: 50px;
					max-height:50px;
					border-radius: 10px;
					border: 3px solid rgba(256, 256, 256, 0.3);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					display: flex;
					justify-content: center;
					align-items: center;

				svg{
					font-size: 20px;
					color: rgba(256, 256, 256, 0.8);
					cursor: pointer;
				}

				}

				.musicItem2{

					font-weight: bold;
					font-size: 13px;
					color: rgba(256, 256, 256, 0.8);
				}

				.musicItem3{
					flex: 1;
					display: flex;
					justify-content: flex-end;
					padding: 10px;
					cursor: pointer;

					svg{

					font-size: 21px;
					color: rgba(256, 256, 256, 0.8);
					}					
				}
			}
		}
	}

	.active{
		width: 100%;
		min-height: 200px;
		max-height: 350px;
		position: absolute;
		margin-top: 198px;
		left: 0;
		z-index:99;
		background-color: rgba(60, 60, 60, 0.8);
		backdrop-filter: blur(5px);
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 10px;
		border-bottom: 2px solid rgba(256, 256, 256, 0.9);
		opacity: 1;
		transform: translateY(0);
		transition: 150ms linear;

		.userContent1{
			font-weight: bold;
			font-size: 15px;
			color: rgba(256, 256, 256, 0.7);

		}

		.userContent2{
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;
			max-height: 250px;
			overflow-y: scroll;


			.userMiniContent1{

				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				svg{
					color:rgba(256, 256, 256, 0.6);
					font-size: 20px;
				}

				input{
				flex: 1;
				max-width: 70%;
				border-radius: 7px;
				border: 2px solid rgba(256, 256, 256, 0.4);
				background-color: transparent;
				outline: none;
				padding: 5px;
				color: whitesmoke;
				}
			}

			.userMiniContent2{
				width: 80%;
				display: flex;
				flex-direction: row;
				gap: 10px;
				// justify-content: flex-start;
				align-items: center;
				border: 1px solid rgba(256, 256, 256, 0.1);
				border-radius: 4px;
				padding: 5px;


				.userItem1{
					width: 50px;
					height: 50px;
					border-radius: 50%;
					border: 2px solid rgba(256, 256, 256, 0.3);
				}

				.userItem2{
					font-weight: bold;
					font-size: 13px;
					color: rgba(256, 256, 256, 0.8);
				}

				.userItem3{
					width: 100%;
					display: flex;
					justify-content: flex-end;
					padding: 10px;
					cursor: pointer;

					svg{

					font-size: 21px;
					color: rgba(256, 256, 256, 0.8);
					}					
				}
			}
		}
	}


		.activeMusic{
		width: 100%;
		min-height: 200px;
		max-height: 350px;
		position: absolute;
		margin-top: 198px;
		left: 0;
		z-index:99;
		background-color: rgba(60, 60, 60, 0.8);
		backdrop-filter: blur(5px);
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 10px;
		border-bottom: 2px solid rgba(256, 256, 256, 0.9);
		opacity: 1;
		transform: translateY(0);
		transition: 150ms linear;

				.musicContent1{
			font-weight: bold;
			font-size: 15px;
			color: rgba(256, 256, 256, 0.7);

		}

		.musicContent2{
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;
			max-height: 250px;
			overflow-y: scroll;


			.musicMiniContent1{

				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				svg{
					color:rgba(256, 256, 256, 0.6);
					font-size: 20px;
				}

				input{
				flex: 1;
				max-width: 70%;
				border-radius: 7px;
				border: 2px solid rgba(256, 256, 256, 0.4);
				background-color: transparent;
				outline: none;
				padding: 5px;
				color: whitesmoke;
				}
			}

			.musicMiniContent2{
				width: 80%;
				display: flex;
				flex-direction: row;
				gap: 10px;
				// justify-content: flex-start;
				align-items: center;
				border: 1px solid rgba(256, 256, 256, 0.1);
				border-radius: 4px;
				padding: 5px;


				.musicItem1{
					min-width: 50px;
					min-height: 50px;
					max-width: 50px;
					max-height:50px;
					border-radius: 10px;
					border: 3px solid rgba(256, 256, 256, 0.3);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					display: flex;
					justify-content: center;
					align-items: center;

				svg{
					font-size: 20px;
					color: rgba(256, 256, 256, 0.8);
					cursor: pointer;
				}

				}

				.musicItem2{

					font-weight: bold;
					font-size: 13px;
					color: rgba(256, 256, 256, 0.8);
				}

				.musicItem3{
					flex: 1;
					display: flex;
					justify-content: flex-end;
					padding: 10px;
					cursor: pointer;

					svg{

					font-size: 21px;
					color: rgba(256, 256, 256, 0.8);
					}					
				}
			}
		}
	}
	}

	.storyContainer{
		width: 100%;
		height: 150px;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid rgba(256, 256, 256, 0.3);		
		transition: 450ms linear;

		.storyContent1{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding:15px 7px 0px 0px ;
			color: rgba(256, 256, 256, 0.9);
			font-weight: bold;
			font-size: 12px;
			border-bottom: 1px solid rgba(256, 256, 256, 0.3);

			.item1{
				margin-left: 15px;
			}
			.item2{
				margin-right: 15px;

			svg{
				color: rgba(256, 256, 256, 0.9);
				cursor: pointer;
				font-size: 23px;
			}
		}
		}

		.storyContent2{
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex: 1;
			gap: 10px;
			flex-wrap: no-wrap;
			padding: 5px 5px 10px 5px;
			overflow-x: scroll;
			// margin-bottom: 15px;


			.storyCont{
				width: 70px;
				height: 70px;
				border-radius: 50%;
				border-top: 1px dashed rgba(183, 193, 172, 0.7);;
				border-bottom: 1px dashed rgba(183, 193, 172, 0.7);;
				background-size: cover;
				background-repeat: no-repeat;
				transition: 150ms linear;
  				scrollbar-width: none; 
  				-ms-overflow-style: none;
  				position: relative;




				.storyItem1{
				width: 100%;
				text-align: start;
				color:rgba(256, 256, 256, 0.3) ;
				padding: 15px;
				font-size: 11px;
				font-weight: bold;
				}
				.storyItem2{
				width: 100%;
				font-size: 13px;
				font-weight: bold;
				color: rgba(256, 256, 256, 0.3);
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				padding: 5px;					
				}
			.storyItem3{
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 10px;
				backdrop-filter: blur(5px);
				position: absolute;
				top: 0;
				bottom: 0;
				flex: 1;
				transition: 350ms linear;
				opacity: 0;
				transform: translateX(-70px);
				border-radius: 15px;

				.btn1{
					width: 90%;
					padding: 5px;
					background-color: rgba(0, 0, 0, 0.6);
					border: 2px solid rgba(256, 256, 256, 0.9);
					color:rgba(256, 256, 256, 0.9);
					border-radius: 25px;
					font-weight: bold;
					font-size: 12px;
					display: flex;
					flex-direction: row;
					gap: 7px;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					svg{
						color:rgba(256, 256, 256, 0.9);
					}
				}

			}

			.activeStory{
				opacity: 1;
				transform: translateX(0px);
				transition: 350ms linear;
			}
			}

			.activeCont{
			min-width: 200px;
			height: 320px;
			// border: 2px solid rgba(256, 256, 256, 0.6);
			
			border-radius: 15px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: rgba(0, 0, 0, 1.0);
			border-top: 1px dashed rgba(183, 193, 172, 0.3);
			border-bottom: 1px dashed rgba(183, 193, 172, 0.3);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
			transition: 350ms linear;
			}
		}
	}

	.activeStoryContainer{
		height: 400px;
		transition: 450ms linear;

	}

	.content3{
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		// padding:25px;


		.noPost{
			width: 100%;
			height: 250px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #999;
			font-weight: bold;
		}
	.postMegaContent {
			width: 100%;
			min-height: 100px;
			border-top:5px solid rgba(60, 60, 60, 0.2);
			border-bottom:5px solid rgba(60, 60, 60, 0.2);
			background-color: rgba(256, 256, 256, 0.04);
			margin-bottom: 5px;
			border-radius: 13px;
			// border-bottom: 1px solid rgba(256, 256, 256, 0.9);
			display:flex;
			flex-direction:column;
			gap:15px;

			// .postSettings{
			// 	width: 100%;
			// 	display: flex;
			// 	justify-content: flex-end;
			// }

			.postMiniContent1{
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap:5px;
				padding: 15px 15px 0px 15px;


				.postBlock1{
					display:flex;
					flex-direction:row;
					flex-wrap:no-wrap;
					gap: 0px;

					img{
						width: 50px;
						height: 50px;
						border: 2px solid rgba(256, 256, 256, 0.5);
						border-radius: 50%;
						user-select: none;
					}

			.activeStory{
				border:2px solid #47D66E;
				cursor: pointer;
			}

							.viewedstory{
				border: 2px solid rgba(60, 179, 113,0.2);
			}


					span{
						align-self:flex-end;
						position: relative;
						left:-13px;
						bottom: -4px;

						


						
						svg{

							filter:drop-shadow(1px 1px 3px #222)

						}
					}
				}


				.postBlock2{
					font-weight: bold;
					color: rgba(256, 256, 256, 0.9);
				}

				.postBlock3{
					opacity: 0.7;
					color: #999;
					font-size: 12px;
					margin-left: 10px;
					// font-weight: bold;
				}

				.postBlock4{
					opacity: 0.6;
					color: #999;
					font-size: 7px;
					font-weight: bold;
				}

				.postBlock5{
					svg{
					opacity: 0.7;
					color: whitesmoke;
					font-size: 18px;
					font-weight: bold;						
					}
				}

				.postSettings{
				// width: 100%;
				display: flex;
				flex-direction: column;
				// justify-content: flex-end;
				align-items: flex-end;
				gap: 30px;
				padding: 5px;
				flex: 1;
				z-index: 23;



				.item1{

				svg{
					font-size: 25px;
					color:#999;
					cursor: pointer;
				}
			}

			.item2{
				width: auto;
				height: auto;
				// border: 2px solid #333;
				margin: 24px 10px 20px 0;
				position: absolute;
				border-radius:10px 0px 15px 15px;
				// background-color:rgba(256, 256, 256, 0.1);
				backdrop-filter: blur(5px);
				display: flex;
				flex-direction: column;
				animation:animSettings 50ms linear forwards;
				transform:translateY(-20px);
				opacity:0;
				// gap: 5px;

				.miniItem1{
					color: rgba(256, 256, 256, 0.6);
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 13px;
					gap: 5px;
					font-weight: bold;
					border-bottom:1px solid #999;
					cursor:pointer;
					background-color:rgba(256, 256, 256, 0.1);
					border-radius:15px 15px 0 0;
					text-decoration:none;


					svg{
						font-size: 23px;
					}
				}

				.miniItem1:hover{
					background-color: rgba(256, 256, 256, 0.5);
					color: #222;
				}

				.miniItem2{
					color: rgba(256, 256, 256, 0.6);
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 13px;
					gap: 5px;
					font-weight: bold;
					border-bottom:1px solid #999;
					cursor:pointer;
					background-color:rgba(256, 256, 256, 0.1);
					


					svg{
						font-size: 23px;
					}
				}

				.miniItem2:hover{
					background-color: rgba(256, 256, 256, 0.5);
					color: #222;
				}

				.miniItem3{
					color: rgba(255, 0, 0,0.7);
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 13px;
					gap: 5px;
					font-weight: bold;
					cursor:pointer;
					background-color:rgba(256, 256, 256, 0.1);
					border-radius:0 0 15px 15px;


					svg{
						font-size: 23px;
					}

				}

				.miniItem3:hover{
					background-color: rgba(256, 256, 256, 0.5);
					color: #222;
				}

				.miniItem4{
					color: rgba(256, 256, 256, 0.6);
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 13px;
					gap: 5px;
					font-weight: bold;
					border-bottom:1px solid #999;
					cursor:pointer;
					background-color:rgba(256, 256, 256, 0.1);
					


					svg{
						font-size: 23px;
					}
				}

				.miniItem4:hover{
					background-color: rgba(256, 256, 256, 0.5);
					color: #222;
				}			
				
				
			}
		}

		@keyframes animSettings {
			0%{opacity: 0;transform:translateY(-20px);}
			50%{opacity: 0.5;transform:translateY(-10px);}
			100%{opacity: 1;transform:translateY(0px);}
		}




		

			}

			.postMiniContent2{
				
				
				width: 70%;
				min-height: 50px;
				// border: 2px solid rgba(256, 256, 256, 0.9) ;
				// background-color: rgba(256, 256, 256, 0.1);
				border-radius: 9px;
				padding: 15px;
				color: rgba(256, 256, 256, 1);
				word-break: break-word;
				display: flex;
				flex-direction: column;
				gap: 2px;
				padding: 0px 0px 0px 55px;

				.musicContent{
					width: 300px;
					height: 50px;
					display: flex;
					flex-direction: row;
					gap: 15px;
					align-items: center;
					justify-content: space-evenly;
					font-weight: bold;
					font-size: 13px;
					color: rgba(256, 256, 256, 0.7);
					margin-top: 10px;
					padding: 7px;
					border-radius: 15px;
					
					background-color:rgba(0, 0, 0, 0.4) ;
					border: 2px solid rgba(256, 256, 256, 0.1);

					.musicItem1{
					display: flex;
					flex-direction: row;
					gap: 5px;
					align-items: center;

					svg{
						font-size: 17px;
						color: whitesmoke;

					}


					}

					.musicItem2{
						align-self: center;
						svg{
						font-size: 18px;
						color: whitesmoke;
						cursor: pointer;
						}
					}

				}

				.fwPost{
			width: 100%;
			min-height: 100px;
			// margin: 15px;
			padding: 15px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			background-color: rgba(60, 60, 60, 0.9);
			margin-bottom: 25px;
			text-decoration: none;
			border: 2px dashed rgba(256, 256, 256, 0.2);


			.fwItem1{
				width: 100%;
				display: flex;
				flex-direction: row;
				// justify-content: space-between;
				align-items: center;
				gap: 10px;
				color: whitesmoke;
				padding: 5px;
				border-bottom: 1px solid rgba(256, 256, 256, 0.1);


				.miniFwitem1 {
					opacity: 0.5;
					font-weight: bold;
					font-size: 14px;
				}

				.miniFwitem2{
					color: whitesmoke;
					opacity: 0.8;
					font-weight: bold;
					font-size: 12px;
				}
			}


			.fwItem2{

				img{
					max-width: 100%;
					max-height: 200px;
					border-radius: 7px;
					border: 2px solid #999;;
				}
			}

			.fwItem3{
				width: 80%;
					padding: 10px;
					border: 2px solid rgba(256, 256, 256, 0.9) ;
				background-color: rgba(256, 256, 256, 0.1);
				border-radius: 9px;
				color: whitesmoke;
			}
		}

		.deletedPost{
			width: 100%;
			min-height: 100px;
			// margin: 15px;
			padding: 15px;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 15px;
			background-color: rgba(60, 60, 60, 0.9);
			margin-bottom: 25px;
			text-decoration: none;
			border: 2px dashed rgba(256, 256, 256, 0.2);
			font-weight: bold;
			color: rgba(256, 256, 256, 0.5);
			font-size: 18px;
			user-select: none;
		}


				.item1{
					width:100%;
					
					img{
						
						max-width: 100%;
						
						max-height: 400px;
						border-radius: 7px;
						border: 2px solid rgba(256, 256, 256, 0.2);
						user-select: none;
						filter:drop-shadow(1px 1px 10px #999);
					}


				}
				.videoItem{
					width: 100%;
					min-height: 250px;
					max-height: 500px;
					height: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					
					// border: 2px solid #999;



				video{
					width: 100%;
					min-height: 250px;
					max-height: 500px;
					background-color:rgba(256, 256, 256, 0.1);
					border-radius: 7px;
					border: 2px solid  rgba(256, 256, 256, 0.2);
					
					
				}
			}

				.item2{
					min-width: 50%;
					padding: 20px;
					border: 2px solid rgba(256, 256, 256, 0.2) ;
				background-color: rgba(256, 256, 256, 0.1);
				border-radius: 13px;
				color: rgba(256, 256, 256, 0.9);
				font-weight: bold;
				font-size: 14px;
				display: flex;
				flex-direction: column;
				gap: 7px;

					a{
						color: rgba(256, 256, 256, 0.7);
						font-weight: bold;
					}

					iframe{
						width: 100%;
						height: 315px;
						border-radius: 7px;
						border: 2px solid rgba(256, 256, 256, 0.2);
					}
				}

				.taggedUserContainer{
					align-self: flex-end;
					max-width: 200px;
					width: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 5px;
					text-decoration: none;
					padding:0px 15px 0px 15px;
					color: rgba(256, 256, 256, 0.6);
					font-size: 13px;
					font-weight: bold;

					svg{
						font-size: 18px;
						color: rgba(256, 256, 256, 1);
					}
				
				}



			}

			.postMiniContent3{
				width: 100%;
				display: flex;
				flex-direction: row;
				gap: 5px;
				padding: 10px;
				user-select:none;
			// border-bottom: 1px solid rgba(256, 256, 256, 0.9);


				span{
					display:flex;
					flex-direction:row;
					justify-content: space-between;
					align-items: center;
					gap:15px;
					padding: 5px 15px 5px 15px;
					border-radius: 5px;
					background-color: rgba(256,256,256,0.2);
					font-weight:bold;
					color:rgba(256, 256, 256, 0.9);
					font-size:12px;
					cursor:pointer;


				svg{
					color:#999;
					font-size: 23px;
					cursor: pointer;
					transition: 250ms linear;

				}

				svg:hover{
					transform: scale(1.05);
					transition: 250ms linear;
				}
			}

			a{
				text-decoration: none;
			}
			}

			.postMiniContent4{
				width: 100%;
				display: flex;
				flex-direction: column;
				gap:15px;
				// padding: 15px 15px 0px 15px;
					


				.postCommentBlock1{
					width: 100%;
					min-height:100px;
					max-height: 1000px;
					border-top: 1px solid rgba(256, 256, 256, 0.05);

					border-bottom: 1px solid rgba(256, 256, 256, 0.2);
					background-color:rgba(60,60,60,0.3);
					border-radius:0px 0px 7px 7px;
					

					.Comment{
						width: 100%;
						display: flex;
						flex-direction: row;
						padding: 10px;
						margin-bottom: 5px;
						gap: 5px;

						.Block1{
							padding-left:1px ;


							.item{
								display: flex;
								flex-direction: row;
								flex-wrap: no-wrap;
							

							img{
								width: 30px;
								height: 30px;
								border-radius: 50%;
								border: 2px solid #777;
								cursor: pointer;
							}

			.activeStory{
				border:2px solid #47D66E;
				cursor: pointer;
			}

							.viewedstory{
				border: 2px solid rgba(60, 179, 113,0.2);
			}


							span{
								align-self: flex-end;
								position: relative;
								margin-left: -10px;
							}

						}


						}

						.Block2{
							width: 50%;
							min-height:50px ;
							background-color: rgba(256,256,256,0.2);
							display: flex;
							flex-direction: column;
							padding: 4px;
							border-radius: 7px;

							.item1{
								
								margin-bottom: 5px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;

								.miniItem1{
									color: lightskyblue;
								font-size: 13px;
								font-weight: bold;
								}

								.miniItem2{

									font-size: 10px;
									opacity: 0.5;
									color: whitesmoke;
									font-weight: bold;
								}
							}

							.item2{
								color: whitesmoke;
								word-break: break-word;
								display: flex;
								flex-direction: column;
								gap: 10px;


								.miniItem1{
									width: 80%;
									border-left: 2px solid rgba(137, 196, 244, 0.7);
									border-top: 1px dashed rgba(137, 196, 244, 0.2);
									border-right: 1px dashed rgba(137, 196, 244, 0.2);
									border-bottom: 1px dashed rgba(137, 196, 244, 0.2);
									padding: 5px;
									margin-left: 10px;
									
									background-color: rgba(137, 196, 244, 0.1);
									border-radius: 0px 5px 5px 0px;
									display: flex;
									flex-direction: column;
									gap: 10px;


									.miniBlock1{
										font-size: 12px;
										font-weight: bold;
										color: rgba(256, 256, 256, 0.7);

									}

									.miniBlock2 {
										font-size: 14px;
										font-weight: bold;
										color: rgba(256, 256, 256, 0.5);
									}
								}

								.miniItem{
									width: 100%;
							
									box-sizing: border-box;

									img{
										
										max-width: 100%;
										width: auto;
										height: auto;
										max-height: 450px;
										border-radius: 9px;
										border: 2px solid rgba(256, 256, 256, 0.3);

									}
								}

								.miniItem2{
									font-weight: bold;
									font-size: 14px;
									color: rgba(256, 256, 256, 0.8);
								}								
							}


						}

						.Block3{
							align-self: center;
							display: flex;
							flex-direction: column;

							button{
								background-color: transparent;
								border: none;
								outline: none;
							}
							svg{
								font-size: 25px;
								color: rgba(256, 256, 256, 0.5);
								cursor: pointer;
								transition: 250ms linear;
							}

							svg:hover {
								color: rgba(256, 256, 256, 0.9);
								transition: 250ms linear;
							}
						}						
					}

					.noComment{
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 25px;
						color: rgba(256, 256, 256, 0.7);
						font-weight: bold;
						font-size: 17px;
						opacity: 0.4;
					}
				}

				.privateComment{
						width: 100%;
					min-height:100px;
					max-height: 300px;
					border-top: 1px solid rgba(256, 256, 256, 0.05);

					border-bottom: 1px solid #999;
					background-color:rgba(60,60,60,0.3);
					border-radius:0px 0px 7px 7px;
					display: flex;
					justify-content: center;
					align-items: center;


					.item {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 5px;
						color: rgba(256, 256, 256, 0.5);
					}
				}
				.replyContainer{
					width: 65%;
					min-height: 50px;
					padding: 5px 10px 5px 10px;
					border: 1px dashed rgba(256, 256, 256, 0.2);
					// background-color: rgba(256, 256, 256, 0.1);
					background: linear-gradient(327deg, rgba(43,39,51,0.9528186274509804) 0%, rgba(22,21,22,0.9192051820728291) 83%);
					opacity: 0.7;
					border-radius: 15px;
					display: flex;
					flex-direction: column;
					gap: 5px;
					margin-left: 10px;

				

				.replyMegaContent1{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					gap: 5px;

					.replyContent1{
						color: rgba(256, 256, 256, 0.5);
						font-weight: bold;
						font-size: 13px;
						padding: 5px;

					}

					.replyContent2{
						color: rgba(256, 256, 256, 0.5);
						font-weight: bold;
						font-size: 18px;

						svg{
							cursor: pointer;
						}
					}
				}

				.replyMegaContent2{
					width: 70%;
					padding: 10px;
					border-top: 1px solid rgba(256, 256, 256, 0.3);
					color: rgba(256, 256, 256, 0.7);
					// border-rasdius: 9px;
				}
			}

			.replyCommentAnim {
				animation:replyCommentAnim 350ms linear forwards;

			}

			@keyframes replyCommentAnim {
				0%{
					opacity:0;
					transform:translateX(-50px);
					
				}

				50%{
					border: 1px dashed rgba(256, 256, 256, 0.5);
					background-color: rgba(256, 256, 256, 0.5);
				}

				100% {
					opacity:1;
					transform:translateX(0px);
					border: 1px dashed rgba(256, 256, 256, 0.2);
					background-color: rgba(256, 256, 256, 0.1);
					
				}
			}
			.imgContainer{
					width: 400px;
					min-height: 50px;
					padding: 0px 10px 0px 10px;
					border: 1px dashed rgba(256, 256, 256, 0.2);
					background-color: rgba(256, 256, 256, 0.1);
					opacity: 0.7;
					border-radius: 15px;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					gap: 5px;
					margin-left: 10px;
					padding: 5px;

					span{
						color: rgba(256, 256, 256, 0.5);
						font-weight: bold;
						font-size: 19px;

						svg{
							cursor: pointer;
						}
					}

					

					img{
						width: auto;
						max-height: 150px;
						border-radius: 9px;
						border: 2px solid rgba(256, 256, 256, 0.3);

					}
			}

				.postCommentBlock2{
					width: 80%;
					display:flex;
					flex-direction:row;
					gap:7px;
					justify-content:flex-start;
					align-items:center;
					padding:0px 10px 0px 10px;




					.postCommentItem1{
						

						img{
							width: 35px;
							height: 35px;
							border-radius: 50%;
							border: 2px solid rgba(256, 256, 256, 0.3);

						}
					}

					.postCommentItem2{
						width: 100%;
						flex:1 0 ;

					textarea{
						width: 100%;
						height: 35px;
						max-height: 75px;
						padding: 7px;
						background-color: rgba(0, 0, 0, 0.3);
						color: whitesmoke;
						border-radius: 9px;
						border: 2px solid rgba(256, 256, 256, 0.3);
						outline: none;
						word-break: break-word;
						overflow-wrap: break-word;
						resize: none;

					}
					
					textarea::placeholder {
						font-size: 11px;
						font-weight: bold;
						color: rgba(256, 256, 256, 0.3);
						transition: 250ms linear;
						

						// padding-top: 10px;
					}				

					textarea:disabled{
						opacity: 0.5;
					}
				}
					.postCommentItem3{
						

						display: flex;
						flex-direction: row;
						gap: 5px;
						flex-wrap: no-wrap;
						justify-content: center;
						align-items: center;

						input{
							display: none;
							visibility: hidden;
						}
						

						.item1{
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 5px;

						cursor:pointer;


							svg{
								color: rgba(256, 256, 256, 0.3);
								font-size: 20px;
							}
						}

						.item2{
							display: flex;
						justify-content: center;
						align-items: center;
						padding: 5px;
						border: 2px solid rgba(256, 256, 256, 0.3);
						border-radius: 15px;
						cursor:pointer;

							svg{
								color: rgba(256, 256, 256, 0.3);
							}
						}

					}

					.item2:active{
							background-color: rgba(256, 256, 256, 0.7);
							transform: scale(1.09);
						}
				


				}
			}
		}
	}
}

.animBlock{
	opacity: 1;
	transform: translateY(0px);
	transition: 600ms ease-out;

}





		

		@keyframes animSettingsmobile {
			0%{opacity: 0;transform:translateY(-20px);}
			50%{opacity: 0.5;transform:translateY(-10px);}
			100%{opacity: 1;transform:translateY(0px);}
		}


@media screen and (max-width:1024px) {
	.megaContainer{
		padding: 0;
		gap:0;

		.content1{
			border-left: none;
			border-right: none;
			border-top: none;

			

			.Block1{
				.miniBlock1{
					img{
						width: 150px;
						height: 150px;
					}
				}
			}
		

			.Block2{
				
				align-items: center;
				
			}

		}

		.content2{

			.usersContainer{
				.userContent2{
					.userMiniContent1{
						input{
							max-width: 87%;
						}
					}
				}
			}

			.musicContainer{
				.musicContent2{
					.musicMiniContent1{
						input{
							max-width: 87%;
						}
					}
				}
			}

				.fwPost{

					.item3{
						width: 100%;
					}
				}
			
		}

		.content3{
			padding:10px 0 10px 0;


			.postMegaContent {
				padding:15px 0px 0px 0px;


				.postMiniContent1{
					width: 100%;
					padding:0px 10px 0px 10px;

					.postSettings{
						.item2{
							width: 100%;
							position: absolute;
							left: 0;
							right: 0;
							margin-top: 40px;
							animation:animSettingsmobile 250ms linear forwards;
							backdrop-filter: blur(25px);


							.miniItem1{
								padding: 15px;
							}
							.miniItem2{
								padding: 15px;
							}
							.miniItem3{
								padding: 15px;
							}

						}
					}
				}

				.postMiniContent2{
					width: 100%;
					padding: 5px;

					.fwPost{

						.fwItem3{
							width: 100%;
						}
					}

					.item2{

					iframe{

						height: 210px;

					}

					}
					
				}

				.postMiniContent3{
					width: 100%;
					
				}

				.postMiniContent4{
					.postCommentBlock1{
						.Comment{
							.Block2{
								width: 100%;

								.item2{

									.miniItem1{
										width: 100%;
										margin: 0;
									}
								}
							}
						}
					}

					.replyContainer{
							width: 100%;
							margin: 0;
						}

					.imgContainer{
						width: 100%;
						margin: 0s;
					}
											
					.postCommentBlock2{
						width:100%;
						padding:0px 10px 0px 10px;
						.postCommentItem2{
							flex:1 0 ;
						}
					}
				}
			}
		}
	}
}