.megaContainer {
    width: 100%;
    height: auto ;
    // background-image: url(./../../assets/backG1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px;

    
    

    .megaContent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        // align-items: center;
        padding: 30px;
        // backdrop-filter: blur(5px);
    background-image: url(./../../assets/backG1.png);
    background-blend-mode: darken;
        background-color:rgba(0,0,0,0.7);
        border-radius: 15px;

        .container{
        width: 350px;
        height: 650px;
       
        border: 3px solid #999;
        border-radius: 10px 25px 10px 25px;
        // background: linear-gradient(0deg, rgba(46,92,81,0.7) 0%, rgba(67,200,200,0.7) 100%);
        background-color: rgba(0, 0, 0, 0.1);

        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        font-family: "Josefin Sans", sans-serif;
        align-items: center;
        gap: 25px;
        opacity: 0;
        transform: translateX(-300px);
        transition:250ms linear;
          

        .content1{
            align-self: center;
            color: whitesmoke;
            font-size: 32px;

            }

         .content2{
                width:100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                color:rgba(256, 256, 256, 0.7);

                .item1::before{
                    content:"*";
                    color: red;
                    margin-right: 5px;
                    font-size: 15px;
                }

                input{
                    width: 100%;
                padding: 7px;
                border: none;
                outline: none;
                border-radius: 7px;
                // border: 2px solid #999;
                background-color: rgba(256, 256, 256, 0.7);
                color:rgba(0, 0, 0, 0.9);
                transition: 250ms linear;
                font-weight: bold;

                }

                input:invalid{
                    // border: 2px solid red;
                    background-color: rgba(255, 0, 0, 0.6);
                    animation:inputAnim 50ms linear forwards;
                    color: whitesmoke;
                    transition: 250ms linear;

                }

                .item2{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .hidePass{
                        position: absolute;
                        right: 0;
                        margin-right: 20px;
                        margin-top: 3px;
                        color: #333;
                        cursor: pointer;
                    }
                }



                .rePassInvalid{
                    background-color: rgba(255, 0, 0, 0.6);
                    animation:inputAnim 50ms linear forwards;
                    color: whitesmoke;
                    transition: 250ms linear;
                }

                .userInvalid {
                    background-color: rgba(255, 0, 0, 0.6);
                    animation:inputAnim 50ms linear forwards;
                    color: whitesmoke;
                    transition: 250ms linear;
                }

                @keyframes inputAnim {
                    0%{transform: translateX(-5px);}
                    50%{transform: translateX(5px);}
                    100%{transform: translateX(0);}
                }
            }

            .content3{
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 5px;
                justify-content: center;
                align-items: center;

                input{
                    display: none;
                    visibility: hidden;
                }

               

                label{
                    display: flex;
                    // justify-content: center;
                    // align-items: center;
                    cursor: pointer;
                }

                span{
                    a{
                        color:whitesmoke;
                        opacity: 0.7;
                        font-size: 14px;
                        user-select: none;
                    }
                }
            }

            .content4{

                width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            

            span{
                display: flex;
                flex-direction: row;
                align-self: center;
                gap: 5px;
                color: whitesmoke;
                a{
                    color: whitesmoke;
                }
            }
        
                button{
                    align-self: center;
                    width: 200px;
                    padding: 5px 35px 5px 35px;
                    border-radius: 5px 25px 5px 25px;
                    // background: linear-gradient(0deg, rgba(69,200,168,0.9) 0%, rgba(36,157,153,0.9) 100%);
                    background-color: whitesmoke;
                    color:#222;
                    border: 1px solid white;
                    cursor: pointer;
                    transition: 250ms linear;
                    
    
    
                }
            }
        }

        .animBlock {
            opacity: 1;
            transform: translateX(0);
            transition: 250ms linear;
        }
    }
}


@media screen and (max-width: 768px) {
    .megaContainer{
        padding: 0;

        .megaContent{
            border-radius: 0px 0px 15px 15px;
        }
    }
}
